<!DOCTYPE html>
<html>
<body>
    <!-- Slider Area -->
    <div id="owl-init" class="home2">
        <section class="slider-area slider-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <div class="slider-content">
                            <h2 class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">A new approach to</h2>
                            <h3 class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">Babysitting</h3>
                            <h3 class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">Services</h3>
                            <a class="primary-btn wow fadeInUp" data-wow-duration="700ms" data-wow-delay="450ms" href="/signup?user_type=SEEKER"><span>Parent</span></a>
                            <a class="primary-btn wow fadeInUp" data-wow-duration="700ms" data-wow-delay="450ms" href="/signup?user_type=SITTER"><span>Babysitter</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-overlay"></div>
        </section>
    </body>
    </html>