<% if !@users.empty? %>
<div class="row">
  <% @users.each do |user| %>
  <div class="col-md-4">
   <a href="/users/<%= user.id %>">
     <img src="<%= user.image if user.image %>" width="200" height="200">
     <p><%= user.first_name %></p>
   </div>
   <% end %>
 </table> 
</div>
<% else %>
<div class="row">

  <h1>No Results found</h1>
</div>
<% end %>