<% if !@users.empty? %>
<div class="row">
  <% @users.each do |user| %>
  <div class="col-md-4">
   <a href="/users/<%= user.id %>"
    <%= image_tag user.image_url if user.image_url %>
    <p><%= user.first_name %></p>
   </div>
   <% end %>
 </table> 
</div>
<% else %>
<div class="row">

  <h1>No Results found</h1>
</div>
<% end %>